@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Upload file</h1>
    <hr />
</div>
<div class="text-center">
    <input type="file" name="File" id="fileUpload" />
    <button onclick="uploadFile()">Upload File</button>
</div>


<partial name="_IndexJs"></partial>